@import url("https://fonts.googleapis.com/css2?family=Cabin+Sketch&display=swap");

body {
    background-color: #F9FAFC;
}

/* Navigation */

.navbar {
    background-color: #004d40;
    padding: 0;
}

.navbar-brand {
    display: flex;
    align-items: center;
    font-size: 2em;
    padding: 0;
}

.navbar-brand i {
    font-size: 1.4em;
    background-color: #00bfa5;
    border-radius: 50%;
    margin-right: 10px;
    padding: 10px;
}

.navbar-nav {
    margin-right: 10px;
}

.nav-item {
    font-size: 1.2em;
    font-weight: 500;
}

.navbar-text {
    font-size: 1.2em;
    font-weight: 500;
}

.navbar-text i {
    color: #00bfa5;
}

/* Hero */

.hero {
    background-color: #00695c;
    background-image: url("https://res.cloudinary.com/dwe8qxpnf/image/upload/v1658738172/bg_zk4qet.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom; 
    background-size: cover;
}

.hero-text {
    min-height: 50vh;
    color: #fff;
    text-align: center;
}

.hero-text h1 {
    font-size: 8em;
    font-weight: 400;
}

.hero-text h2 {
    font-family: "Cabin Sketch", sans-serif;
    font-size: 3em;
}

#wave {
    width: 100%;
}





/* Blog/Post Detail */

.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #00bfa5;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #004d40;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #004d40;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

/* Buttons/Links */

.post-link {
    text-decoration: none;
    color: #004d40;
}

.post-link:hover,
.page-link {
    color: #00bfa5;
}

.post-title {
    margin-top: 20%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.btn-signup {
    background-color: #00bfa5;
    color: #fff;
    border: 1px solid #00bfa5;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #00bfa5;
    border: 1px solid #00bfa5;
}

.btn-del {
    background-color: #C53938;
    color: #fff;
    border: 1px solid #C53938;
}

.btn-del:hover,
.btn-del:active {
    background-color: #fff;
    color: #C53938;
    border: 1px solid #C53938;
}

.link {
    color: #00bfa5;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #004d40;
    text-decoration: underline;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #004d40;
}

.main-bg {
    background-color: #F9FAFC;
}

/* Media Queries */

@media screen and (max-width: 1780px) {
    .hero-text h1 {
        font-size: 5em;
    }
}

@media screen and (max-width: 500px) {
    .hero-text h1 {
        font-size: 3em;
    }

    .hero-text h2 {
        font-size: 2em;
    }
}