@import url("https://fonts.googleapis.com/css2?family=Cabin+Sketch&display=swap");

body {
    background-color: #F9FAFC;
    padding-top: 65px;
}

.asteriskField {
    display: none;
}

/* Navigation */

.navbar {
    background-color: #004d40;
    padding: 0;
}

.navbar-brand {
    display: flex;
    align-items: center;
    font-size: 2em;
    padding: 0;
}

.navbar-brand i {
    font-size: 1.4em;
    background-color: #00bfa5;
    border-radius: 50%;
    margin-right: 10px;
    padding: 10px;
}

.navbar-nav {
    margin-right: 10px;
}

.nav-item {
    font-size: 1.2em;
    font-weight: 500;
}

.nav-item .active {
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
    padding-bottom: 0px;
    width: fit-content;
}

.navbar-expand-lg .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.7);
    padding-right: 0;
    padding-left: 0;
    margin-right: 0.5em;
    margin-left: 0.5em;
}

.navbar-dark .navbar-text {
    color: rgba(255, 255, 255, 0.7);
    font-size: 1.2em;
    font-weight: 500;
}

.navbar-text i {
    color: #00bfa5;
}

/* Hero */

.hero {
    background-color: #00695c;
    background-image: url("https://res.cloudinary.com/dwe8qxpnf/image/upload/v1658738172/bg_zk4qet.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom; 
    background-size: cover;
}

.hero-text {
    min-height: 50vh;
    color: #fff;
    text-align: center;
}

.hero-text h1 {
    font-size: 8em;
    font-weight: 400;
}

.hero-text h2 {
    font-family: "Cabin Sketch", sans-serif;
    font-size: 3em;
}

#wave {
    width: 100%;
}

/* Featurette */

.featurette {
    background-color: #fff;
    /* Copied code SVG Background svgbackgrounds.com */
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23E4E7EB' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23E4E7EB'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
    margin-top: -5px;
}

.featurette .container {
    background-color: #fff;
    border-radius: 20%;
    text-align: center;
}

.featurette .col i {
    font-size: 5em;
    color: #fff;
    background-color: #00bfa5;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 50%;
    border: 5px solid #00695c;
}

.featurette .col h3 {
    font-size: 3em;
    font-weight: 400;
}

/* Recent posts */

.recent-posts {
    background-color: #F9FAFC;
}

.recent-posts h2 {
    font-family: "Cabin Sketch", sans-serif;
    font-size: 2.5em;
    text-align: center;
    color: #fff;
    margin-top: 30px;
}

.recent-posts hr {
    color: #fff;
}

.recent-posts-carousel {
    background-color: #00695c;
    background: linear-gradient(180deg, rgba(0,105,92,1) 0%, rgba(0,77,64,1) 100%);
}

.carousel-item {
    height: 25vh;
}

.carousel-item .card-img-top {
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
}

.carousel-caption i {
    font-size: 3em;
    animation: MoveUpDown 2s ease-in-out infinite;
}

/* Blog/Post Detail */

.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -5px;
    background-color: #00bfa5;
    padding-right: 10px;
    border-left: 5px double #F9FAFC;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #004d40;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
    border-radius: 5px;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #004d40;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.card-body img {
    max-width: 80vw;
    border-radius: 5px;
}

/* Buttons/Links */

.post-link {
    text-decoration: none;
    color: #004d40;
}

.post-link:hover,
.page-link {
    color: #00bfa5;
}

.post-title {
    margin-top: 20%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.btn-signup {
    background-color: #00bfa5;
    color: #fff;
    border: 1px solid #00bfa5;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #00bfa5;
    border: 1px solid #00bfa5;
}

.btn-sec {
    background-color: #596269;
    color: #fff;
    border: 1px solid #596269;
}

.btn-sec:hover,
.btn-sec:active {
    background-color: #fff;
    color: #596269;
    border: 1px solid #596269;
}

.btn-del {
    background-color: #C53938;
    color: #fff;
    border: 1px solid #C53938;
}

.btn-del:hover,
.btn-del:active {
    background-color: #fff;
    color: #C53938;
    border: 1px solid #C53938;
}

.link {
    color: #00bfa5;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #004d40;
    text-decoration: underline;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #004d40;
}

.main-bg {
    background-color: #F9FAFC;
}

/* Flash Messages */

#msg {
    font-size: 1.2em;
    text-align: center;
    color: #fff;
    background-color: #00bfa5;
    border: 5px double #fff;
    animation: MoveUpDown .5s ease-in forwards;
}

.btn-close {
    filter: brightness(0) invert(1);
}

/* Footer */

footer p, footer hr {
    color: #fff;
}

footer h3 {
    font-family: "Cabin Sketch", sans-serif;
    font-size: 2em;
    color: #fff;
}

footer iframe {
    filter: grayscale(100%);
    border-radius: 5px;
}

/* Animations */

@keyframes MoveUpDown {
    0% {
        transform: translateY(0);
        opacity: 0;
    }
    100% {
        transform: translateY(10px);
        opacity: 1;
    }
}

/* Media Queries */

@media screen and (max-width: 1780px) {
    .hero-text h1 {
        font-size: 5em;
    }
}

@media screen and (max-width: 500px) {
    .hero-text h1 {
        font-size: 3em;
    }

    .hero-text h2 {
        font-size: 2em;
    }

    .featurette .col i {
        font-size: 3em;
        margin-bottom: 5px;
    }

    .featurette .col h3 {
        font-size: 2em;
    }
}